body {
  font-family: 'Oxygen', sans-serif;;
}

.card {
  margin: 2rem;
}

/* *********************************************************************************** */

.row {
  background: rgb(248, 248, 248);
}

.products-header {
  background-color: rgb(201, 201, 201);
  padding: 1rem;
  text-align: center;
}
/* *********************************************************************************** */

#footer
{display: flex;}

.footer-item
{justify-content: space-around;
border: 1px solid #282a2c;
background-color: #212529;
flex: 1;
font-size: 0.8rem;}

#footer li
{list-style-type: none;
padding: 5px 15px;}

#footer ul
{padding: 3px;
color: white;}

#footer h3
{color: white;
font-size: 0.8rem;
padding: 10px;}

.footerlinks
{text-decoration: none;
color: white;}

#footer img
{
border-radius: 5%;}
.icon-container{
  margin-left: 13px;
}
ul.breadcrumb {
  padding: 5px 5px;
  list-style: none;
  background-color: rgb(163, 39, 59);
}
ul.breadcrumb li {
  display: inline;
  font-size: 10px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: white;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: white;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: white;
  text-decoration: underline;
}